{% extends "./base.html" %}
<!DOCTYPE html>
<html lang="en">
    <body>
        <!-- tt-mobile menu -->
        {% block content %}
        <main id="tt-pageContent">
            <div class="container">
                <div class="tt-catSingle-title">
                    <div class="tt-innerwrapper tt-row">
                        <div class="tt-col-left">
                            <ul class="tt-list-badge">
                                <li>
                                    <a href="#"><span class="tt-color0{{ column.id }} tt-badge">{{ column.name}}</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="ml-left tt-col-right">
                            <div class="tt-col-item">
                                <div class="tt-search">
                                    <button class="tt-search-toggle" data-toggle="modal" data-target="#modalAdvancedSearch"><svg class="tt-icon">
                                    <use xlink:href="#icon-search"></use></svg></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tt-innerwrapper">
                        {{ column.description }}
                    </div>
                </div>
                <div class="tt-topic-list">
                    <div class="tt-list-header">
                        <div class="tt-col-topic">
                            Topic
                        </div>
                        <div class="tt-col-category">
                            Category
                        </div>
                        <div class="tt-col-value">
                            Replies
                        </div>
                        <div class="tt-col-value">
                            Activity
                        </div>
                    </div>
                    {% if post_list %}
                    {% for post in post_list %}
                    <div class="tt-item">
                        <div class="tt-col-avatar">
                            <svg class="tt-icon">
                            <use xlink:href="#icon-ava-{{ post.get_first_name }}"></use></svg>
                        </div>
                        <div class="tt-col-description">
                            <h6 class="tt-title">
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            </h6>
                            <div class="row align-items-center no-gutters hide-desktope">
                                <div class="col-11">
                                </div>
                                <div class="col-1 ml-auto show-mobile">
                                    <div class="tt-value">
                                        {{ post.create_at }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tt-col-category">
                            <span class="tt-color0{{ column.id }} tt-badge">{{ column.name }}</span>
                        </div>

                        <div class="tt-col-value tt-color-select hide-mobile">
                            {{ post.comment_num }}
                        </div>
                        <div class="tt-col-value hide-mobile">
                            {{ post.created_at }}
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="pagination",id="pagers">
                        {% if post_list.has_previous %}
                                <a href="column{{ column.id }}?page={{ post_list.previous_page_number }}">Previous</a>

                        {% endif%}
                        <span class="current">Page {{ post_list.number }} / {{ post_list.paginator.num_pages }}</span>

                        {% if post_list.has_next %}
                                <a href="column{{ column.id }}?page={{ post_list.next_page_number }}">Next</a>
                        {% endif %}


                    </div>

                    <div class="tt-row-btn">
                        <button type="button" class="btn-icon js-topiclist-showmore"><svg class="tt-icon">
                        <use xlink:href="#icon-load_lore_icon"></use></svg></button>
                    </div>
                </div>
            </div>
        </main>
       {% endblock %}
    </body>
</html>