{% extends "./base.html" %}
<!DOCTYPE html>
<html lang="en">
    <body>
        <!-- tt-mobile menu -->
        {% block content %}
        <main id="tt-pageContent">
    <div id="45d58a0624434ed0a4e8582a3fdc9cb2" class="chart-container" style="width:900px; height:500px;left:20%;"></div>
    <script>
        var chart_45d58a0624434ed0a4e8582a3fdc9cb2 = echarts.init(
            document.getElementById('45d58a0624434ed0a4e8582a3fdc9cb2'), 'white', {renderer: 'canvas'});
        var option_45d58a0624434ed0a4e8582a3fdc9cb2 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#444693",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "Age",
            "legendHoverLink": true,
            "data": [
                3,
                3,
                1,
                2,
                79,
                162,
                213,
                325,
                409,
                489,
                486,
                602,
                614,
                593,
                546,
                555,
                542,
                439,
                468,
                373,
                391,
                355,
                309,
                239,
                228,
                183,
                185,
                164,
                141,
                122,
                123,
                125,
                105,
                86,
                73,
                85,
                81,
                92,
                73,
                67,
                81,
                80,
                59,
                52,
                45,
                39,
                47,
                36,
                47,
                22,
                26,
                28,
                26,
                13,
                15,
                12,
                7,
                8,
                3,
                7,
                5,
                2,
                1,
                2,
                1,
                2,
                1,
                1,
                1,
                1,
                1,
                1,
                1,
                1,
                1
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Age"
            ],
            "selected": {
                "Age": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                2,
                3,
                4,
                17,
                18,
                19,
                20,
                21,
                22,
                23,
                24,
                25,
                26,
                27,
                28,
                29,
                30,
                31,
                32,
                33,
                34,
                35,
                36,
                37,
                38,
                39,
                40,
                41,
                42,
                43,
                44,
                45,
                46,
                47,
                48,
                49,
                50,
                51,
                52,
                53,
                54,
                55,
                56,
                57,
                58,
                59,
                60,
                61,
                62,
                63,
                64,
                65,
                66,
                67,
                68,
                69,
                70,
                71,
                72,
                73,
                74,
                75,
                76,
                77,
                78,
                79,
                80,
                81,
                83,
                84,
                88,
                95,
                98,
                227,
                233
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "age_bar",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        },
        {
            "show": true,
            "type": "inside",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        }
    ]
};
        chart_45d58a0624434ed0a4e8582a3fdc9cb2.setOption(option_45d58a0624434ed0a4e8582a3fdc9cb2);
    </script>

    <div id="0b42031390b849538d57728091b3deb3" class="chart-container" style="width:900px; height:500px;left:20%;"></div>
    <script>
        var chart_0b42031390b849538d57728091b3deb3 = echarts.init(
            document.getElementById('0b42031390b849538d57728091b3deb3'), 'white', {renderer: 'canvas'});
        var option_0b42031390b849538d57728091b3deb3 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#ef5b9c",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pictorialBar",
            "symbol": "rect",
            "symbolSize": 18,
            "symbolOffset": [
                0,
                0
            ],
            "symbolRepeat": "fixed",
            "symbolClip": true,
            "name": "Category Bar",
            "data": [
                34168,
                1202,
                10727,
                7458,
                33993,
                11144,
                1843
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Category Bar"
            ],
            "selected": {
                "Category Bar": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": false,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 0,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "axisTick": {
                "show": false,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "affection",
                "exercise",
                "bonding",
                "leisure",
                "achievement",
                "enjoy_the_moment",
                "nature"
            ]
        }
    ],
    "title": [
        {
            "text": "category_bar",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_0b42031390b849538d57728091b3deb3.setOption(option_0b42031390b849538d57728091b3deb3);
    </script>

     <div id="5dac69f21da2495ebf3a2a8ba109e9aa" class="chart-container" style="width:900px; height:500px;left:20%;"></div>
    <script>
        var chart_5dac69f21da2495ebf3a2a8ba109e9aa = echarts.init(
            document.getElementById('5dac69f21da2495ebf3a2a8ba109e9aa'), 'white', {renderer: 'canvas'});
        var option_5dac69f21da2495ebf3a2a8ba109e9aa = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "affection",
                    "value": 34168
                },
                {
                    "name": "exercise",
                    "value": 1202
                },
                {
                    "name": "bonding",
                    "value": 10727
                },
                {
                    "name": "leisure",
                    "value": 7458
                },
                {
                    "name": "achievement",
                    "value": 33993
                },
                {
                    "name": "enjoy_the_moment",
                    "value": 11144
                },
                {
                    "name": "nature",
                    "value": 1843
                }
            ],
            "radius": [
                "30%",
                "80%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "roseType": "area",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "affection",
                "exercise",
                "bonding",
                "leisure",
                "achievement",
                "enjoy_the_moment",
                "nature"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "category_pie",
            "padding": 1,
            "itemGap": 2
        }
    ]
};
        chart_5dac69f21da2495ebf3a2a8ba109e9aa.setOption(option_5dac69f21da2495ebf3a2a8ba109e9aa);
    </script>

        <div id="64594c8edbfb4e6e95a8b60156add359" class="chart-container" style="width:900px; height:500px; left:20%;"></div>
    <script>
        var chart_64594c8edbfb4e6e95a8b60156add359 = echarts.init(
            document.getElementById('64594c8edbfb4e6e95a8b60156add359'), 'white', {renderer: 'canvas'});
        var option_64594c8edbfb4e6e95a8b60156add359 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "world",
            "data": [
                {
                    "name": "United States",
                    "value": 9274
                },
                {
                    "name": "India",
                    "value": 964
                },
                {
                    "name": "Viet Nam",
                    "value": 2
                },
                {
                    "name": "Thailand",
                    "value": 3
                },
                {
                    "name": "United Kingdom",
                    "value": 48
                },
                {
                    "name": "Serbia",
                    "value": 6
                },
                {
                    "name": "Bulgaria",
                    "value": 3
                },
                {
                    "name": "Brazil",
                    "value": 14
                },
                {
                    "name": "Bangladesh",
                    "value": 2
                },
                {
                    "name": "Canada",
                    "value": 66
                },
                {
                    "name": "Portugal",
                    "value": 8
                },
                {
                    "name": "Philippines",
                    "value": 32
                },
                {
                    "name": "Venezuela, Bolivarian Republic of",
                    "value": 54
                },
                {
                    "name": "North Macedonia",
                    "value": 5
                },
                {
                    "name": "Dominican Republic",
                    "value": 2
                },
                {
                    "name": "Denmark",
                    "value": 1
                },
                {
                    "name": "Indonesia",
                    "value": 6
                },
                {
                    "name": "Australia",
                    "value": 14
                },
                {
                    "name": "Uruguay",
                    "value": 1
                },
                {
                    "name": "Jamaica",
                    "value": 7
                },
                {
                    "name": "Egypt",
                    "value": 5
                },
                {
                    "name": "Germany",
                    "value": 8
                },
                {
                    "name": "Kenya",
                    "value": 2
                },
                {
                    "name": "Moldova, Republic of",
                    "value": 2
                },
                {
                    "name": "Ireland",
                    "value": 3
                },
                {
                    "name": "Nigeria",
                    "value": 12
                },
                {
                    "name": "Albania",
                    "value": 4
                },
                {
                    "name": "Mexico",
                    "value": 22
                },
                {
                    "name": "Trinidad and Tobago",
                    "value": 3
                },
                {
                    "name": "Kuwait",
                    "value": 1
                },
                {
                    "name": "Russian Federation",
                    "value": 1
                },
                {
                    "name": "Lithuania",
                    "value": 6
                },
                {
                    "name": "Puerto Rico",
                    "value": 2
                },
                {
                    "name": "Sweden",
                    "value": 1
                },
                {
                    "name": "Peru",
                    "value": 2
                },
                {
                    "name": "Pakistan",
                    "value": 5
                },
                {
                    "name": "Turkey",
                    "value": 8
                },
                {
                    "name": "France",
                    "value": 10
                },
                {
                    "name": "United Arab Emirates",
                    "value": 6
                },
                {
                    "name": "Colombia",
                    "value": 6
                },
                {
                    "name": "Greece",
                    "value": 9
                },
                {
                    "name": "Romania",
                    "value": 5
                },
                {
                    "name": "Armenia",
                    "value": 1
                },
                {
                    "name": "Macao",
                    "value": 1
                },
                {
                    "name": "Singapore",
                    "value": 6
                },
                {
                    "name": "Uganda",
                    "value": 4
                },
                {
                    "name": "Poland",
                    "value": 4
                },
                {
                    "name": "Nicaragua",
                    "value": 2
                },
                {
                    "name": "Japan",
                    "value": 2
                },
                {
                    "name": "Spain",
                    "value": 6
                },
                {
                    "name": "Taiwan, Province of China",
                    "value": 1
                },
                {
                    "name": "Finland",
                    "value": 5
                },
                {
                    "name": "Italy",
                    "value": 11
                },
                {
                    "name": "Ghana",
                    "value": 1
                },
                {
                    "name": "Austria",
                    "value": 3
                },
                {
                    "name": "Nepal",
                    "value": 2
                },
                {
                    "name": "New Zealand",
                    "value": 8
                },
                {
                    "name": "Netherlands",
                    "value": 3
                },
                {
                    "name": "Korea, Republic of",
                    "value": 1
                },
                {
                    "name": "Sri Lanka",
                    "value": 2
                },
                {
                    "name": "Saint Kitts and Nevis",
                    "value": 1
                },
                {
                    "name": "South Africa",
                    "value": 7
                },
                {
                    "name": "Belgium",
                    "value": 4
                },
                {
                    "name": "Iceland",
                    "value": 2
                },
                {
                    "name": "Algeria",
                    "value": 3
                },
                {
                    "name": "Afghanistan",
                    "value": 3
                },
                {
                    "name": "Gambia",
                    "value": 1
                },
                {
                    "name": "American Samoa",
                    "value": 73
                },
                {
                    "name": "Malaysia",
                    "value": 3
                },
                {
                    "name": "Czech Republic",
                    "value": 5
                },
                {
                    "name": "Malta",
                    "value": 2
                },
                {
                    "name": "Slovenia",
                    "value": 2
                },
                {
                    "name": "United States Minor Outlying Islands",
                    "value": 1
                },
                {
                    "name": "Argentina",
                    "value": 4
                },
                {
                    "name": "Saudi Arabia",
                    "value": 2
                },
                {
                    "name": "Estonia",
                    "value": 1
                },
                {
                    "name": "Ecuador",
                    "value": 2
                },
                {
                    "name": "Zambia",
                    "value": 1
                },
                {
                    "name": "Chile",
                    "value": 1
                },
                {
                    "name": "Morocco",
                    "value": 2
                },
                {
                    "name": "Israel",
                    "value": 2
                },
                {
                    "name": "Latvia",
                    "value": 1
                },
                {
                    "name": "Kazakhstan",
                    "value": 1
                },
                {
                    "name": "Norway",
                    "value": 1
                },
                {
                    "name": "Costa Rica",
                    "value": 1
                },
                {
                    "name": "Barbados",
                    "value": 1
                },
                {
                    "name": "Croatia",
                    "value": 2
                },
                {
                    "name": "Ethiopia",
                    "value": 2
                },
                {
                    "name": "Turks and Caicos Islands",
                    "value": 1
                },
                {
                    "name": "Bahamas",
                    "value": 2
                },
                {
                    "name": "Virgin Islands, U.S.",
                    "value": 1
                },
                {
                    "name": "Guatemala",
                    "value": 1
                },
                {
                    "name": "Iraq",
                    "value": 2
                },
                {
                    "name": "Hong Kong",
                    "value": 1
                },
                {
                    "name": "Mauritius",
                    "value": 1
                },
                {
                    "name": "Tunisia",
                    "value": 1
                },
                {
                    "name": "Suriname",
                    "value": 1
                },
                {
                    "name": "El Salvador",
                    "value": 1
                },
                {
                    "name": "Cyprus",
                    "value": 1
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": false,
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "country_map",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 200,
        "inRange": {
            "color": [
                "ghostwhite",
                "lightsteelblue",
                "cornflowerblue",
                "royalblue"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_64594c8edbfb4e6e95a8b60156add359.setOption(option_64594c8edbfb4e6e95a8b60156add359);
    </script>


    <div id="06c8d198a6604c7f97cc1eb542a0c657" class="chart-container" style="width:900px; height:500px;left: 20%;"></div>
    <script>
        var chart_06c8d198a6604c7f97cc1eb542a0c657 = echarts.init(
            document.getElementById('06c8d198a6604c7f97cc1eb542a0c657'), 'white', {renderer: 'canvas'});
        var option_06c8d198a6604c7f97cc1eb542a0c657 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "male",
                    "value": 5311
                },
                {
                    "name": "female",
                    "value": 5445
                },
                {
                    "name": "optional",
                    "value": 56
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "male",
                "female",
                "optional"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "gender_pie",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_06c8d198a6604c7f97cc1eb542a0c657.setOption(option_06c8d198a6604c7f97cc1eb542a0c657);
    </script>

    <div id="d67013e3ef5448d387402369d6af2f60" class="chart-container" style="width:900px; height:500px; left: 20%;"></div>
    <script>
        var chart_d67013e3ef5448d387402369d6af2f60 = echarts.init(
            document.getElementById('d67013e3ef5448d387402369d6af2f60'), 'white', {renderer: 'canvas'});
        var option_d67013e3ef5448d387402369d6af2f60 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "pentagon",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 35,
            "sizeRange": [
                30,
                120
            ],
            "data": [
                {
                    "name": "happy",
                    "value": 18195,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(118,115,98)"
                        }
                    }
                },
                {
                    "name": "time",
                    "value": 9180,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,54,7)"
                        }
                    }
                },
                {
                    "name": "day",
                    "value": 7910,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(109,60,120)"
                        }
                    }
                },
                {
                    "name": "friend",
                    "value": 6033,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(119,66,58)"
                        }
                    }
                },
                {
                    "name": "friends",
                    "value": 4467,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(22,110,114)"
                        }
                    }
                },
                {
                    "name": "family",
                    "value": 4466,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(85,18,56)"
                        }
                    }
                },
                {
                    "name": "son",
                    "value": 3472,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,15,40)"
                        }
                    }
                },
                {
                    "name": "yesterday",
                    "value": 3362,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(52,128,79)"
                        }
                    }
                },
                {
                    "name": "night",
                    "value": 3308,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(93,75,33)"
                        }
                    }
                },
                {
                    "name": "finally",
                    "value": 3306,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,78,143)"
                        }
                    }
                },
                {
                    "name": "dinner",
                    "value": 3288,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(7,11,48)"
                        }
                    }
                },
                {
                    "name": "daughter",
                    "value": 3181,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(14,84,101)"
                        }
                    }
                },
                {
                    "name": "job",
                    "value": 3063,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(82,95,59)"
                        }
                    }
                },
                {
                    "name": "life",
                    "value": 3027,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(109,79,34)"
                        }
                    }
                },
                {
                    "name": "nice",
                    "value": 2959,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,151,59)"
                        }
                    }
                },
                {
                    "name": "bought",
                    "value": 2927,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(129,117,131)"
                        }
                    }
                },
                {
                    "name": "favorite",
                    "value": 2890,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,32,135)"
                        }
                    }
                },
                {
                    "name": "week",
                    "value": 2865,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(56,98,58)"
                        }
                    }
                },
                {
                    "name": "birthday",
                    "value": 2846,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(63,137,77)"
                        }
                    }
                },
                {
                    "name": "moment",
                    "value": 2843,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,103,41)"
                        }
                    }
                },
                {
                    "name": "husband",
                    "value": 2690,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(88,95,66)"
                        }
                    }
                },
                {
                    "name": "wife",
                    "value": 2690,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(53,75,52)"
                        }
                    }
                },
                {
                    "name": "morning",
                    "value": 2670,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(105,132,12)"
                        }
                    }
                },
                {
                    "name": "months",
                    "value": 2624,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(50,56,48)"
                        }
                    }
                },
                {
                    "name": "month",
                    "value": 2574,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(79,25,105)"
                        }
                    }
                },
                {
                    "name": "feel",
                    "value": 2493,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(54,64,140)"
                        }
                    }
                },
                {
                    "name": "game",
                    "value": 2434,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(120,9,102)"
                        }
                    }
                },
                {
                    "name": "school",
                    "value": 2348,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(34,150,87)"
                        }
                    }
                },
                {
                    "name": "lot",
                    "value": 2319,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(129,107,80)"
                        }
                    }
                },
                {
                    "name": "event",
                    "value": 2249,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(132,1,48)"
                        }
                    }
                },
                {
                    "name": "received",
                    "value": 2232,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(142,74,155)"
                        }
                    }
                },
                {
                    "name": "house",
                    "value": 2204,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(72,157,65)"
                        }
                    }
                },
                {
                    "name": "dog",
                    "value": 2095,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(9,115,36)"
                        }
                    }
                },
                {
                    "name": "ago",
                    "value": 2005,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(75,11,66)"
                        }
                    }
                },
                {
                    "name": "car",
                    "value": 1988,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,64,134)"
                        }
                    }
                },
                {
                    "name": "girlfriend",
                    "value": 1914,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(76,24,68)"
                        }
                    }
                },
                {
                    "name": "days",
                    "value": 1897,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(103,70,150)"
                        }
                    }
                },
                {
                    "name": "watched",
                    "value": 1842,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(119,67,101)"
                        }
                    }
                },
                {
                    "name": "won",
                    "value": 1820,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(119,103,102)"
                        }
                    }
                },
                {
                    "name": "enjoyed",
                    "value": 1806,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(104,44,14)"
                        }
                    }
                },
                {
                    "name": "sister",
                    "value": 1799,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(79,108,1)"
                        }
                    }
                },
                {
                    "name": "money",
                    "value": 1797,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(85,51,106)"
                        }
                    }
                },
                {
                    "name": "started",
                    "value": 1786,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(97,156,19)"
                        }
                    }
                },
                {
                    "name": "mother",
                    "value": 1779,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,62,20)"
                        }
                    }
                },
                {
                    "name": "love",
                    "value": 1717,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(6,124,135)"
                        }
                    }
                },
                {
                    "name": "lunch",
                    "value": 1694,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(143,84,133)"
                        }
                    }
                },
                {
                    "name": "told",
                    "value": 1587,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,96,4)"
                        }
                    }
                },
                {
                    "name": "fun",
                    "value": 1545,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(4,28,152)"
                        }
                    }
                },
                {
                    "name": "finished",
                    "value": 1540,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(26,15,22)"
                        }
                    }
                },
                {
                    "name": "ate",
                    "value": 1517,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(115,158,28)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "keyword_wordcloud",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_d67013e3ef5448d387402369d6af2f60.setOption(option_d67013e3ef5448d387402369d6af2f60);
    </script>


        </main>
        {% endblock %}
    </body>
</html>